<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<body>
<section>
  <div class="form-box">
    <div class="form-value">
      <form #changepassform="ngForm" (ngSubmit)="changepass(changepassform)">
        <div class="img"><img src="assets/LOGO-ATTIJARI-NEW.gif" width="150px"> </div>
        <h2>RECETTE-APP</h2>
        <h2>Changer le mot de passe</h2>

        <div class="inputbox">

          <input type="password"
                 ngModel
                 name="currentPassword"


                 id="password1" required>
          <label >Mot de passe actuel</label>
          <div class="icon"> <img src="assets/password.png" width="60px" alt="Input Icon"> </div>
        </div>
        <div class="inputbox">

          <input type="password"
                 ngModel
                 name="newPassword"

                 id="password2" required>
          <label >Nouveau mot de passe</label>
          <div class="icon"> <img src="assets/password.png" width="60px" alt="Input Icon"> </div>
        </div>
        <div class="inputbox">
          <input type="password"
                 ngModel
                 name="confirmPassword"

                 id="password3" required>
          <label >Confirmer mot de passe</label>
          <div class="icon"> <img src="assets/password.png" width="60px" alt="Input Icon"> </div>
        </div>
        <div class="forget">
          <a routerLink="/forgetpass">Oubliez votre mot de passe actuel?</a>

        </div>
        <button type="submit">Confirmer</button>

      </form>
    </div>
  </div>
</section>

</body>
</html>


