<app-header></app-header>

<div class="col-xl-8">
  <app-sidebar></app-sidebar>

  <div class="card mb-4">
    <div class="card-header">Faire une intervention pour le projet   {{project.name}} </div>
    <div class="card-body">


        <!-- Add 4 checkboxes with email addresses -->
      <div class="form-group">
        <label>intervenant<span style="color: red">*</span></label>
        <div>
          <label *ngFor="let user of intervenant" style=" display: block;">
            <input type="checkbox" name="vav_orga" [checked]="selectedintervenat.includes(user.email)" (change)="onCheckboxChange(user.email)">   {{user.firstname}} {{user.lastname}}

          </label>
        </div>
      </div>

        <form #interventionform="ngForm" (ngSubmit)="intervention1(interventionform)" ngForm="interventionform">

        <!-- Add a text area input named "msg" -->
        <div class="form-group">
          <label for="msg">Message :</label>
          <textarea class="form-control" id="msg" ngModel name="msg" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Envoyer l'intervention</button>
      </form>
    </div>
  </div>
</div>
