
.aze {





  margin-left: 100px;
  margin-top: -2%;


}
.card{ border-radius: 10%;
  display:inline-block;
  width: 25%;
  background-color: rgba(133, 133, 133, 0.08);height: 80%;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h4{
 margin-left: 15%;

}
