<app-header></app-header>

<div class="col-xl-8">
  <app-sidebar></app-sidebar>

  <div class="card mb-4">
    <div class="card-header">Ajouter un profil secondaire</div>
    <div class="card-body">
      <form #user2form="ngForm" (ngSubmit)="adduser2(user2form)" ngForm="user2form">
        <div class="form-group">
          <label>Nom<span style="color: red">*</span></label>
          <input type="text"  class="form-control" placeholder="nom" ngModel name="firstname" >


        </div>

        <div class="form-group">
          <label>Prénom<span style="color: red">*</span></label>
          <input type="text" ngModel class="form-control" placeholder="Prénom" name="lastname">
        </div>
        <div class="form-group">
          <label>E-mail<span style="color: red">*</span></label>
          <input type="text" ngModel class="form-control" placeholder="E-mail"name="email">
        </div>



        <div class="form-group">
          <label>Profil<span style="color: red">*</span></label>
          <select class="form-control" ngModel name="profile" >
            <option  value=""selected disabled>--Choisir le type du profil--</option>
            <option value="metier">Vis à vis metier</option>
            <option value="etude">Vis à vis étude</option>
            <option value="resetude">Responsable étude</option>
            <option value="resmetier">Responsable metier</option>
            <option value="resorga">Responsable orga</option>
            <option value="intervenant">Intervenant</option>
          </select>
        </div>
<hr>



        <div *ngIf="isLoading">
          <i class="fa fa-spinner fa-spin"></i> Chargement...
        </div>

        <button type="submit" class="btn btn-success"  >Ajouter le profil</button>
      </form>
    </div>
  </div>
</div>

