input,select{border-bottom:  solid #f3ac2c;}
h2,h3{
  font-size: 20px;
  color: #1f1e26;
  font-weight: 550;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
body {
  font-family: "Lato", sans-serif;
}
.login-form{
  margin-top: 10%;

}
@media screen and (min-width: 768px){
  .main{
    margin-left: 40%;
  }}
button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #f3ac2c;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: whitesmoke;}

